[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
botocore = "*"
setuptools = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.6"

[scripts]
format = "yapf lbr_context -r -i"
